$navbar_footer-background:#323232;
$navbar_footer-color:#fff;
$primary-background:#F4F4F4; 
$secondary-background:#2CC185; /*Green*/
$primary-color:#3A4D55;
$secondary-color:#919A9D;
$search_gray_background:#5b5b5b;
$search_gray_color:#b3b3b3;

